repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: end-of-file-fixer
        files: '\.(py|txt)$' # Only run on .py and .txt files	
    -   id: trailing-whitespace
        files: '\.(py|txt)$' # Only run on .py and .txt files
-   repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
    -   id: black
        args: [--line-length, '120']
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.287
    hooks:
    -   id: ruff
        args: [--line-length, '120', --fix, --exit-non-zero-on-fix, --select, TID] # TID = fix and enforce absolute imports