
PyDMWritableWidget[alarmSeverity="0"]{}
PyDMWritableWidget[alarmSeverity="0"][alarmSensitiveContent="true"]{color: black}
PyDMWritableWidget[alarmSeverity="0"][alarmSensitiveBorder="true"]{border: 2px solid transparent}
PyDMWritableWidget[alarmSeverity="0"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: black; border: 2px solid transparent}
PyDMWritableWidget[alarmSeverity="1"]{}
PyDMWritableWidget[alarmSeverity="1"][alarmSensitiveContent="true"]{color: #EBEB00}
PyDMWritableWidget[alarmSeverity="1"][alarmSensitiveBorder="true"]{border: 2px solid #EBEB00}
PyDMWritableWidget[alarmSeverity="1"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EBEB00; border: 2px solid #EBEB00}
PyDMWritableWidget[alarmSeverity="2"]{}
PyDMWritableWidget[alarmSeverity="2"][alarmSensitiveContent="true"]{color: #EB0000}
PyDMWritableWidget[alarmSeverity="2"][alarmSensitiveBorder="true"]{border: 2px solid #EB0000}
PyDMWritableWidget[alarmSeverity="2"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EB0000; border: 2px solid #EB0000}
PyDMWritableWidget[alarmSeverity="3"]{}
PyDMWritableWidget[alarmSeverity="3"][alarmSensitiveContent="true"]{color: #EB00EB}
PyDMWritableWidget[alarmSeverity="3"][alarmSensitiveBorder="true"]{border: 2px solid #EB00EB}
PyDMWritableWidget[alarmSeverity="3"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EB00EB; border: 2px solid #EB00EB}
PyDMWritableWidget[alarmSeverity="4"]{}
PyDMWritableWidget[alarmSeverity="4"][alarmSensitiveContent="true"]{color: #EBEBEB}
PyDMWritableWidget[alarmSeverity="4"][alarmSensitiveBorder="true"]{border: 2px solid #EBEBEB}
PyDMWritableWidget[alarmSeverity="4"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EBEBEB; border: 2px solid #EBEBEB}
PyDMLabel[alarmSeverity="0"]{}
PyDMLabel[alarmSeverity="0"][alarmSensitiveContent="true"]{color: black}
PyDMLabel[alarmSeverity="0"][alarmSensitiveBorder="true"]{border: 2px solid transparent}
PyDMLabel[alarmSeverity="0"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: black; border: 2px solid transparent}
PyDMLabel[alarmSeverity="1"]{}
PyDMLabel[alarmSeverity="1"][alarmSensitiveContent="true"]{color: #EBEB00}
PyDMLabel[alarmSeverity="1"][alarmSensitiveBorder="true"]{border: 2px solid #EBEB00}
PyDMLabel[alarmSeverity="1"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EBEB00; border: 2px solid #EBEB00}
PyDMLabel[alarmSeverity="2"]{}
PyDMLabel[alarmSeverity="2"][alarmSensitiveContent="true"]{color: #EB0000}
PyDMLabel[alarmSeverity="2"][alarmSensitiveBorder="true"]{border: 2px solid #EB0000}
PyDMLabel[alarmSeverity="2"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EB0000; border: 2px solid #EB0000}
PyDMLabel[alarmSeverity="3"]{}
PyDMLabel[alarmSeverity="3"][alarmSensitiveContent="true"]{color: #EB00EB}
PyDMLabel[alarmSeverity="3"][alarmSensitiveBorder="true"]{border: 2px solid #EB00EB}
PyDMLabel[alarmSeverity="3"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EB00EB; border: 2px solid #EB00EB}
PyDMLabel[alarmSeverity="4"]{}
PyDMLabel[alarmSeverity="4"][alarmSensitiveContent="true"]{color: #EBEBEB}
PyDMLabel[alarmSeverity="4"][alarmSensitiveBorder="true"]{border: 2px solid #EBEBEB}
PyDMLabel[alarmSeverity="4"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EBEBEB; border: 2px solid #EBEBEB}
PyDMLineEdit[alarmSeverity="0"]{}
PyDMLineEdit[alarmSeverity="0"][alarmSensitiveContent="true"]{color: black}
PyDMLineEdit[alarmSeverity="0"][alarmSensitiveBorder="true"]{border: 2px solid transparent}
PyDMLineEdit[alarmSeverity="0"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: black; border: 2px solid transparent}
PyDMLineEdit[alarmSeverity="1"]{}
PyDMLineEdit[alarmSeverity="1"][alarmSensitiveContent="true"]{color: #EBEB00}
PyDMLineEdit[alarmSeverity="1"][alarmSensitiveBorder="true"]{border: 2px solid #EBEB00}
PyDMLineEdit[alarmSeverity="1"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EBEB00; border: 2px solid #EBEB00}
PyDMLineEdit[alarmSeverity="2"]{}
PyDMLineEdit[alarmSeverity="2"][alarmSensitiveContent="true"]{color: #EB0000}
PyDMLineEdit[alarmSeverity="2"][alarmSensitiveBorder="true"]{border: 2px solid #EB0000}
PyDMLineEdit[alarmSeverity="2"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EB0000; border: 2px solid #EB0000}
PyDMLineEdit[alarmSeverity="3"]{}
PyDMLineEdit[alarmSeverity="3"][alarmSensitiveContent="true"]{color: #EB00EB}
PyDMLineEdit[alarmSeverity="3"][alarmSensitiveBorder="true"]{border: 2px solid #EB00EB}
PyDMLineEdit[alarmSeverity="3"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EB00EB; border: 2px solid #EB00EB}
PyDMLineEdit[alarmSeverity="4"]{}
PyDMLineEdit[alarmSeverity="4"][alarmSensitiveContent="true"]{color: #EBEBEB}
PyDMLineEdit[alarmSeverity="4"][alarmSensitiveBorder="true"]{border: 2px solid #EBEBEB}
PyDMLineEdit[alarmSeverity="4"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EBEBEB; border: 2px solid #EBEBEB}
PyDMSlider[alarmSeverity="0"]{}
PyDMSlider[alarmSeverity="0"][alarmSensitiveContent="true"]{color: black}
PyDMSlider[alarmSeverity="0"][alarmSensitiveBorder="true"]{border: 2px solid transparent}
PyDMSlider[alarmSeverity="0"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: black; border: 2px solid transparent}
PyDMSlider[alarmSeverity="1"]{}
PyDMSlider[alarmSeverity="1"][alarmSensitiveContent="true"]{color: #EBEB00}
PyDMSlider[alarmSeverity="1"][alarmSensitiveBorder="true"]{border: 2px solid #EBEB00}
PyDMSlider[alarmSeverity="1"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EBEB00; border: 2px solid #EBEB00}
PyDMSlider[alarmSeverity="2"]{}
PyDMSlider[alarmSeverity="2"][alarmSensitiveContent="true"]{color: #EB0000}
PyDMSlider[alarmSeverity="2"][alarmSensitiveBorder="true"]{border: 2px solid #EB0000}
PyDMSlider[alarmSeverity="2"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EB0000; border: 2px solid #EB0000}
PyDMSlider[alarmSeverity="3"]{}
PyDMSlider[alarmSeverity="3"][alarmSensitiveContent="true"]{color: #EB00EB}
PyDMSlider[alarmSeverity="3"][alarmSensitiveBorder="true"]{border: 2px solid #EB00EB}
PyDMSlider[alarmSeverity="3"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EB00EB; border: 2px solid #EB00EB}
PyDMSlider[alarmSeverity="4"]{}
PyDMSlider[alarmSeverity="4"][alarmSensitiveContent="true"]{color: #EBEBEB}
PyDMSlider[alarmSeverity="4"][alarmSensitiveBorder="true"]{border: 2px solid #EBEBEB}
PyDMSlider[alarmSeverity="4"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EBEBEB; border: 2px solid #EBEBEB}
PyDMCheckbox[alarmSeverity="0"]{}
PyDMCheckbox[alarmSeverity="0"][alarmSensitiveContent="true"]{color: black}
PyDMCheckbox[alarmSeverity="0"][alarmSensitiveBorder="true"]{border: 2px solid transparent}
PyDMCheckbox[alarmSeverity="0"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: black; border: 2px solid transparent}
PyDMCheckbox[alarmSeverity="1"]{}
PyDMCheckbox[alarmSeverity="1"][alarmSensitiveContent="true"]{color: #EBEB00}
PyDMCheckbox[alarmSeverity="1"][alarmSensitiveBorder="true"]{border: 2px solid #EBEB00}
PyDMCheckbox[alarmSeverity="1"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EBEB00; border: 2px solid #EBEB00}
PyDMCheckbox[alarmSeverity="2"]{}
PyDMCheckbox[alarmSeverity="2"][alarmSensitiveContent="true"]{color: #EB0000}
PyDMCheckbox[alarmSeverity="2"][alarmSensitiveBorder="true"]{border: 2px solid #EB0000}
PyDMCheckbox[alarmSeverity="2"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EB0000; border: 2px solid #EB0000}
PyDMCheckbox[alarmSeverity="3"]{}
PyDMCheckbox[alarmSeverity="3"][alarmSensitiveContent="true"]{color: #EB00EB}
PyDMCheckbox[alarmSeverity="3"][alarmSensitiveBorder="true"]{border: 2px solid #EB00EB}
PyDMCheckbox[alarmSeverity="3"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EB00EB; border: 2px solid #EB00EB}
PyDMCheckbox[alarmSeverity="4"]{}
PyDMCheckbox[alarmSeverity="4"][alarmSensitiveContent="true"]{color: #EBEBEB}
PyDMCheckbox[alarmSeverity="4"][alarmSensitiveBorder="true"]{border: 2px solid #EBEBEB}
PyDMCheckbox[alarmSeverity="4"][alarmSensitiveBorder="true"][alarmSensitiveContent="true"]{color: #EBEBEB; border: 2px solid #EBEBEB}

QLabel {
    background-color: orange;
}