recursive-include pyqtgraph *.py *.ui *.m README.* *.txt *.png *.svg
recursive-include examples *.py *.ui *.gz *.cfg
recursive-include doc *.rst *.py *.svg *.png
recursive-include doc/build/html *
recursive-include tools *
include doc/Makefile doc/make.bat README.md LICENSE.txt CHANGELOG
include pyqtgraph/icons/*
global-exclude *.pyc

